/*Readings*/

.dayTitle {
	text-align: center;
}

.readingTxt {
	text-align: justify;
	text-indent: 25px;
	margin: 0;
}

.readingHeading {
	text-align: right;
	font-style: italic;
}

.alleluiaTxt {
	margin-left: 25px;
	text-align: justify;
}

.psalmTitle {
	text-align: left;
	margin-top: 20px;
}

div.psalmText {
	width: 100%;
	overflow: hidden;
}

div.psalmText>div:nth-child(2n-1) {
	width: 40px;
	float: left;
}

div.psalmText>div:nth-child(2n) {
	overflow: hidden;
	text-align: justify;
}

.italics {
	font-style: italic;
	margin: 0;
}

.clrwhite {
	color: DarkGoldenRod;
}

.clrred {
	color: firebrick;
}

.clrrose {
	color: Orchid;
}

.clrpurple {
	color: RebeccaPurple;
}

.clrgreen {
	color: Green;
}